:root {
    
    --style: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --backc:  #13293d;
    --fontc:#fff;

}

*{
    padding: 0;
    margin: 0;
    background-position: center;
    background-size: cover;
    position: relative;

}


header {

    background-image: url(../assets/backgroundimage.jpeg);
    width: 100%;
    border: solid red ;

}

.navlinks {

    display: flex;
    flex: 1;
    text-align: right;
    border: solid green;
    

}
.navlinks ul li {
    display: inline-block;
    margin: 30px;
    position: relative;
    border: solid red;
    
}


.navlinks ul li a {

    color: var(--hea);
    text-decoration: none;
    color: var(--fontc);
    padding: 1%;
    font-size: 30px;
    
    /* align-items: center; */
    

}

h1 {
    padding: 1%;
    padding-left: 4%;
    background-color:var(--backc);
    color: var(--fontc);
    font-size: 45px;
    border: 5px solid var(--fontc);

}

/* header section {

    display: flex;
    padding-bottom: 1%;
    padding-top: 1%;
    justify-content: space-between;

} */

main nav {


    background-image: url(../assets/elephants.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    position: relative;
    border: solid blue;
        
}
img{
    
    border-radius: 100%;
    height: 300px;
    width: 250px;
    right:1000px;
    bottom: 70px;
    position: absolute;
    border: 5px solid var(--fontc);
   
}
.sub{
   
    
    display: inline;
    border: solid yellow;
    width: 100%;
    padding-right: 30px;
    margin-bottom: 2%;
    
}
.sub p{
    
    padding-right: 40px;
    padding-left: 5%;
    background-color: var(--backc);
    margin-bottom: 5%;
    margin-right: 2%;
    display: inline;
    font-size: 45px;
    color: var(--fontc);
    border: 5px solid var(--fontc);
    

    

}
.dropsub{
    display: flex;
    align-items: end;
    text-align: right;
    
    
    
    
}
.spacebetween{
    
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 7%;
    
}
h2{
    border-right:solid var(--backc);
    border-width: 5px;
    padding-right: 30px;
    font-size: 50px;
    padding-left: 6%;
    color: var(--backc);
    text-align: right;
}

article p {

    font-size: 15px;
    padding-left: 50px;
    
    /* margin-top: 7%;
    margin-bottom: 7%; */
    line-height: 2.5;
    border: solid blue;
   
    
}
nav div {

    justify-content: space-between;
    margin-bottom: 0%


}










.navlinks ul li::after {
    content: '';
    background:var(--backc);
    width: 100%;
    height: 8px;
    display:block;
    margin-top: 3%;
    

}

.navlinks ul li:hover::after {

    display: block;
    background-color: var(--fontc);
    cursor:pointer;


}


article {
    /* margin-top: 7%;
    margin-bottom: 7%; */
    display: flex;
    /* max-width: 1200px; */
    
    border: solid red;
    

}



footer{
    
}
section{

    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}
section ul{

    justify-content: space-between;
    text-align: right;
    

}

section ul li{

    justify-content: space-between;
    justify-content: right;
    display: inline;
    font-size: 30px;
    margin: 20px;
}

section ul li a {

    color: var(--hea);
    display: flex;
    justify-content:space-evenly;
    display: inline;
    margin: 10px;
    

}
ul span{
    font-size: 30px;
    justify-content: space-between;
    border-right: solid var(--fontc);
    padding-right: 15px;
    justify-content: left;
    border: solid red;
    

}

article div{

    display: flex;
    flex-wrap: wrap;
    /* padding-left: 6%; */
    /* margin-top: 7%;
    margin-bottom: 7%; */
    border: solid green;
        

}

#container{

    display: flex;
    justify-content: space-between;
    padding-left: 50px;

}

.projects{
   
    display: flex;
    flex-direction: row;
    border: solid green;
    position: relative;
    min-width: 40%;
    
    
    
       
}


#project1{
    
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 500px;
    text-align: center;
    padding-left: 50px;
    margin-bottom: 50px;
    background-image: url(../assets/tree-in-safari-africa-n5r0k29p4p6ebdtm.jpg);
    
}
#project2{

    padding-left: 50px;
    border-radius: 10px;
    position: relative;
    max-width: 30%;
    height: 170px;
    text-align: center;
    margin-bottom: 40px;
    background-image: url(../assets/herd-elephants-distance-near-shore-reservoir-sunset-evening-sun-3d-illustration_76964-3696.avif);
   
}
#project1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#project2 img{

    height: 100%;
    width: 100%;
    object-fit: cover;
}
#pjct1{

    font-size: 50px;
    position: relative;
    bottom:120px;
    margin-left: 30px;
    line-height: 1.5;
    background-color:var(--backc);
    color: var(--fontc);
    border:solid var(--fontc);
    border-width: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 0;
    
     
}
#pjct2{
    font-size: 35px;
    position: relative;
    bottom:120px;
    margin-left: 30px;
    line-height: 1.5;
    background-color:var(--backc);
    color: var(--fontc);
    border:solid var(--fontc);
    border-width: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

@media(max-width: 992px) {

    .navlinks ul li{
        
        font-size:30px;
    }   

    
}

@media(max-width: 768px) {

    .navlinks ul li, h1{
        
        font-size:12px;
    }   

    
}

/* 

header{

    
    padding-top: 2%;
    background-image: url("../assets/header-images1.jpeg");
    font-family: var(--style)
           
}

header div{
    display: flex;
    justify-content: space-between;
    color: var(--head);
    
    
    
}
header div li{

    font-size: 30px; 
    display: inline;
    justify-content: space-around;
    margin: 20px;
}

header h1{

    font-size: 45px;
    background-color: rgb(26, 49, 67);
    padding:25px;
    margin-bottom: 10px;
    text-indent: 25px;
    

}

h2{
    margin-top: 4%;
    margin-bottom: 4%;
    border-right: solid;
    font-size: 50px;
    font-family: var(--style);
    border-width: 7px;
    padding-right: 40px;
    

}
#aside{

    display: flex;
    flex-direction: column;
    padding-right: 40px;
    
    

}

.flex-containe{

    display: flex;
    flex-wrap: wrap;


}

#underline{
    text-decoration-thickness: 7px;
    color: var(--head);
    
    font-size: 30px; 
    display: inline;
    justify-content: space-around;
    margin: 20px;
}

footer{

    background-image: url(../assets/header-images1.jpeg);
    margin:0;
    padding-bottom: 10px;
    font-family: var(--style);
    color: var(--head);
    
    
    

    
}


.profile{

    display: flex;
    background-image: url(../assets/social-media-marketing.jpg);
    
    margin-bottom: 15%;
    
}

p{
    text-indent:20px;
}

img{
    width: 350px;
    height: 150px;
    border:solid;
    
    
}

section{
    
    display: flex;
    flex-wrap: wrap;
}

img{
    
    border-radius: 10px;
    justify-content: space-between;
}
h2 ul{
    display: flex;
    display: inline;
    flex-wrap: row;

}
footer h2 {

    
    
}

footer ul li{
    font-size: 25px; 
    display: inline;
    justify-content: space-around;
    margin: 35px;
}
.row{
    display: flex;
    flex-wrap: row;
    display: inline;
}
 */


/* header nav{
    display: flex;
    justify-content: space-between;
}
.flex-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.page-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 10px 0;
    margin: 20px 0;

}
.page-section h2{
    flex:0 0 20%;
    text-align: left;
    padding-right: 15px;
    /* border-right: 4px solid ; */

/* .flex-item{

    display:flex;
    align-items: flex-end;
    padding: 0 0 20px 0;

}
.surf-report{

    background-image: url("../assets/social-media-marketing.jpg");

}
.flex-item:first-child{

    min-height: 400px;
    flex-basis: 100%;
    
}
header h1{
    
    font-size: 38px;
    color:rgb(53, 24, 82);
    margin-left: 10px;
    background-color: pink;
    display: inline;
  
}

.page-wrapper{
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}



header nav li{

    font-size: 25px;
    display: inline;
    
    
    
    

}
header nav li a{
    color:white;
    text-decoration-thickness: 5px;
    justify-content: space-around;
    margin-left: 25px;
    margin-right: 15px;

    
}


.text-right{

    text-align: right;
    align-items: end;
}
 .contact{

    display: flex;
    display: inline;

}
    
main{

    margin-top: 20px;
    margin-bottom: 45px;
}
 */
*/
/* h2{
    justify-content: 
} */
/* img{
    
}

button {
  width: 250px;
  margin: 0 .5%;
  font-size: 200%;
  color: #13293d;
  background-color: #fff;
  border: 3px solid #13293d;
}

/* The user's cursor is positioned over the element */
/* button:hover {
    background-color: #772014;
    color: #fff;
  }
  
  The user is actively pressing down on the element
  button:active {
    font-size: 180%;
    box-shadow: 0 0 10px #000 inset;
  }
  
  /* The element is currently in focus, either by tabbing to or clicking on it */
/* button:focus {
    outline: none;
    border-color: #8ac4ff;
  } */