:root {
    /*setting variables for font color and style*/
    --style: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --backc: #17334d;
    --fontc: #fff;
    --hoverc: #bc1e02;

}

/*Universal selector section to apply to the entire page*/
* {
    padding: 0;
    margin: 0;
    background-position: center;
    background-size: cover;
    position: relative;

}


header {

    background-image: url(../assets/plainblue.jpeg);
    width: 100%;

}

/*navigation section */
.navlinks {

    display: flex;
    flex: 1;
    text-align: right;
    justify-content: space-between;


}

.navlinks ul li {
    display: inline-block;
    margin: 30px;
    position: relative;


}


.navlinks ul li a {

    color: var(--hea);
    text-decoration: none;
    color: var(--fontc);
    padding: 1%;
    font-size: 30px;


}

.navlinks ul li::after {
    content: '';
    background: var(--backc);
    width: 100%;
    height: 8px;
    display: block;
    margin-top: 3%;


}

/*When cursor hovers over navlinks section cursor changes and so does the color under the text*/
.navlinks ul li:hover::after {

    display: block;
    background-color: var(--fontc);
    cursor: pointer;


}

h1 {
    padding: 1%;
    padding-left: 4%;
    background-color: var(--fontc);
    color: var(--backc);
    font-size: 45px;
    border: 5px solid var(--fontc);
    margin: 2% 0 2% 0;


}

img {

    border-radius: 100%;
    height: 150px;
    width: 135px;
    display: flex;
    position: relative;
    border: 8px solid var(--fontc);
    bottom: 40px;


}

.sub {


    display: inline;
    width: 100%;
    padding-right: 30px;
    margin-bottom: 2%;

}

.sub p {

    padding-right: 40px;
    padding-left: 5%;
    background-color: var(--backc);
    margin-bottom: 5%;
    margin-right: 2%;
    display: inline;
    font-size: 45px;
    color: var(--fontc);
    border: 5px solid var(--fontc);




}

/*pulls background image from css to html*/
.dropsub {
    display: flex;
    align-items: end;
    text-align: right;
    background-image: url(../assets/birdflying.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    position: relative;





}

/*The spaces between each section of the page*/
.spacebetween {

    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 7%;
    display: flex;



}

/*sets the parameters for the about me, work and contact me heading style*/
h2 {
    border-right: solid var(--backc);
    border-width: 5px;
    padding-right: 30px;
    font-size: 50px;
    padding-left: 6%;
    color: var(--backc);
    text-align: right;
    max-width: 120px;
    min-width: 15%;
}

article p {

    font-size: 17px;
    line-height: 2.5;
    flex-direction: wrap;
    padding-left: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 50px;
    width: 100%;

}

/*the bottom four images in the work section this organizes the style*/
.miniCon {

    display: flex;
    flex-direction: row;
    position: relative;
    min-width: 47%;
    justify-content: start;
    align-items: end;
    border: 7px solid var(--backc);
    box-shadow: 0 25px 35px var(--hoverc);
    margin: 0 auto;
}


.miniCon p {

    background-color: var(--backc);
    display: inline;
    font-size: 30px;
    color: var(--fontc);
    border: 3px solid var(--fontc);
    height: 60px;
    padding: 0 7% 0 3%;
    margin: 0 0 3% 0%;

}

/*when cursor hovers over this section the images get bigger and also fades by 0.5*/
.miniCon:hover {

    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.1);



}

/*This section pulls the background images fron the css to the html for all projects*/
#project1 {

    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 500px;
    text-align: center;
    margin-bottom: 50px;
    background-image: url(../assets/tree-in-safari-africa-n5r0k29p4p6ebdtm.jpg);

}

#project2 {

    border-radius: 10px;
    position: relative;
    max-width: 30%;
    height: 170px;
    text-align: center;
    margin-bottom: 40px;
    background-image: url(../assets/herd-elephants-distance-near-shore-reservoir-sunset-evening-sun-3d-illustration_76964-3696.avif);

}

#project3 {


    border-radius: 10px;
    position: relative;
    max-width: 30%;
    height: 170px;
    text-align: center;
    margin-bottom: 40px;
    background-image: url(../assets/africa-e.jpeg);
}

#project4 {

    border-radius: 10px;
    position: relative;
    max-width: 30%;
    height: 170px;
    text-align: center;
    margin-bottom: 40px;
    background-image: url(../assets/elephants.jpeg);
}

#project5 {

    border-radius: 10px;
    position: relative;
    max-width: 30%;
    height: 170px;
    text-align: center;
    margin-bottom: 40px;
    background-image: url(../assets/backgroundimage.jpeg);
}

#project1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#project2 img {

    height: 100%;
    width: 100%;
    object-fit: cover;
}



.footerlinks {


    display: flex;
    text-align: left;
    justify-content: space-between;




}

#contact {

    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    font-size: 50px;





}

.footerlinks ul li {
    display: inline-block;
    margin: 30px;
    position: relative;

}


.footerlinks ul li a {


    color: var(--backc);
    padding: 1%;
    font-size: 20px;
    text-decoration: none;
    display: inline-flex;
    justify-content: start;
    margin-RIGHT: 20PX
}


/*displays information and style when hovered over*/

.footerlinks ul li::after {
    content: '';
    background: var(--backc);
    width: 100%;
    height: 8px;
    display: block;
    margin-top: 3%;


}

.footerlinks ul li:hover::after {

    display: block;
    background-color: var(--hoverc);
    cursor: pointer;


}

#phone:hover::after {

    content: ' 📞';
    display: block;

}

#phoneNumber:hover::after {
    position: absolute;
    display: flex;
    top: 65px;
    content: '555-555-5555';
    min-width: 150px;

}

#website:hover::after {

    position: absolute;
    display: flex;
    top: 65px;
    content: 'Mustapha@website.com';
    min-width: 150px;

}

#spotify:hover::after {

    content: '🎶';
    display: block;

}

#twitter:hover::after {

    content: ' 🐦';
    display: block;
}

/*This section changes the sizing of section depending on the screen width*/

@media screen and (max-width: 992px) {

    .miniCon {

        min-width: 100%;

    }
}

@media screen and (max-width:992px) {

    h3 {

        font-size: 30px;
        flex-direction: column;
        align-items: end;
        justify-content: space-evenly;

    }

}

@media screen and (max-width: 992px) {

    main {

        font-size: 30px;
        flex-direction: column;
        align-items: end;
        justify-content: space-evenly;
    }

}


@media screen and (max-width: 992px) {

    h2 {
        min-width: 20%;
        font-size: 50px;
        flex-direction: column;
        align-items: end;
        justify-content: space-evenly;
    }

}